.root {
  padding: calc(var(--mantine-spacing-xl) * 1.5);
}

.item {
  border-bottom: 1px solid var(--mantine-color-gray-4);
  display: flex;
  gap: var(--mantine-spacing-md);
  cursor: pointer;

  &[data-active] {
    background-color: var(--mantine-color-primary-0);
  }
}

.item:last-child {
  border-bottom: 0;
}

.item:hover {
  background-color: var(--mantine-color-gray-1);
}

.btn_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}
.btn_icon:hover {
  background-color: var(--mantine-color-gray-1);
}
